[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
giangen = {editable = true,path = "./src"}
b7287bc = {editable = true,path = "./src"}

[dev-packages]
#pytest = "*"
